@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 240 10% 10%;
    --card: 0 0% 99%;
    --card-foreground: 240 10% 10%;
    --popover: 0 0% 99%;
    --popover-foreground: 240 10% 10%;
    --primary: 263 70% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 30% 96%;
    --secondary-foreground: 263 50% 30%;
    --muted: 260 10% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 260 30% 96%;
    --accent-foreground: 263 50% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 263 70% 50%;
    --radius: 0.75rem;
    --header-height: 4rem;
  }

  .dark {
    --background: 240 10% 4%;
    --foreground: 0 0% 95%;
    --card: 240 10% 4%;
    --card-foreground: 0 0% 95%;
    --popover: 240 10% 4%;
    --popover-foreground: 0 0% 95%;
    --primary: 263 70% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 260 10% 15%;
    --secondary-foreground: 0 0% 95%;
    --muted: 260 10% 12%;
    --muted-foreground: 260 10% 60%;
    --accent: 260 10% 15%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 260 10% 15%;
    --input: 260 10% 15%;
    --ring: 263 70% 60%;
  }
}

@layer base {
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11", "salt";
  }

  * {
    @apply border-border;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
      font-feature-settings: "cv02", "cv03", "cv04", "cv11", "salt";
    }
  }

  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: hsl(var(--primary));
    color: white;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 999px;
  }
}
