@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --habitat-indigo: #4F46E5;
  --habitat-gray: #F1F5F9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

.font-display {
  font-family: var(--font-geist-sans), sans-serif;
  letter-spacing: -0.04em;
  line-height: 0.85;
}

.brutalist-border {
  border: 1px solid #000;
}

.brutalist-shadow {
  box-shadow: 4px 4px 0px #000;
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #000 0%, #4F46E5 100%);
}
