@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --habitat-indigo: #4F46E5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, var(--habitat-indigo), #2563eb);
}